fieldset{border: 1px solid gray; padding: 6px 6px 6px 6px;}
#field_geral{width: 810px;}
.campos{float: left; padding: 1px 0 1px 2px;}
.clear{clear: both;}
.label{font-family: tahoma; font-weight: 400; font-size: 0.8em; padding-left: 2px;}
.espacamento{height: 6px;}
legend{font-family: tahoma; font-weight: bold; font-size: 0.8em;}
.legend_super{font-family: tahoma; font-weight: bold; font-size: 1.2em;}
.campos_txt{margin: 0; padding: 0; text-transform: uppercase;}
/*Para campos de tipo Select*/
.tag_option{margin: 0;}
